import tkinter as tk
import os
import importlib.util


class BIOS:

    def __init__(self, root):

        self.root = root

        self.root.geometry("800x480")
        self.root.configure(bg="black")

        self.text = tk.Text(
            root,
            bg="black",
            fg="white",
            borderwidth=0,
            font=("Courier", 10)
        )

        self.text.pack(fill="both", expand=True)

        self.system_file = None

        self.log("processor test: pentium 3 MHZ")

        self.root.after(800, self.step2)

    def log(self, msg):

        self.text.insert("end", msg + "\n")
        self.text.see("end")

    def step2(self):

        self.log("Memory Test: 32768K OK")

        self.root.after(800, self.step3)

    def step3(self):

        self.log("Detecting Storage....... OK")

        self.root.after(800, self.step4)

    def step4(self):

        self.log("Searching Systems.......")

        self.root.after(800, self.search_system)

    def search_system(self):

        sistemas = "/storage/emulated/0/Sistemas"

        if not os.path.exists(sistemas):

            self.log("Invalid Boot")
            self.log(sistemas)

            return

        for pasta in os.listdir(sistemas):

            caminho = os.path.join(
                sistemas,
                pasta
            )

            if not os.path.isdir(caminho):
                continue

            boot = os.path.join(
                caminho,
                "boot.py"
            )

            explorer = os.path.join(
                caminho,
                "explorer.py"
            )

            if os.path.exists(boot):

                self.system_file = boot

                self.log(f"Found: {pasta}")
                self.log("starting windows....")

                self.root.after(
                    1500,
                    self.boot
                )

                return

            if os.path.exists(explorer):

                self.system_file = explorer

                self.log(f"Found: {pasta}")
                self.log("starting windows....")

                self.root.after(
                    1500,
                    self.boot
                )

                return

        self.log("No Found a System Or Corruped system")

    def boot(self):

        try:

            spec = importlib.util.spec_from_file_location(
                "system",
                self.system_file
            )

            mod = importlib.util.module_from_spec(spec)

            spec.loader.exec_module(mod)

            for widget in self.root.winfo_children():
                widget.destroy()

            if hasattr(mod, "iniciar"):

                mod.iniciar(self.root)

            else:

                erro = tk.Text(
                    self.root,
                    bg="black",
                    fg="white",
                    borderwidth=0,
                    font=("Courier", 10)
                )

                erro.pack(fill="both", expand=True)

                erro.insert(
                    "end",
                    "BOOT ERROR\n\n"
                )

                erro.insert(
                    "end",
                    "Sistema sem iniciar()"
                )

        except Exception as e:

            for widget in self.root.winfo_children():
                widget.destroy()

            erro = tk.Text(
                self.root,
                bg="black",
                fg="white",
                borderwidth=0,
                font=("Courier", 10)
            )

            erro.pack(fill="both", expand=True)

            erro.insert(
                "end",
                "BOOT ERROR\n\n"
            )

            erro.insert(
                "end",
                str(e)
            )


root = tk.Tk()

BIOS(root)

root.mainloop()
